extends layout

block content
  h1 About Us
  p Welcome to the About Us page, where you can find infomation about the people who are working on the game, as well as their social media so that you may keep up with them and their works.
