extends layout

block content
 
  h1 Welcome to the #{title}
  p This is where the link to the Sonic RPG Discord server will be.
  p The Discord server is where you will be able to discuss and comment on the game, as well as talk with the developer. 
