extends layout

block content
  h1 Welcome to the #{title}
  p There currently is no build of the game available to download as of this time, but when one is ready, you will be able to download it from this page.
